<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>
<body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <main>
        <h1>
            Benvuto nel mio primo sito di sticky.notes
        </h1>
        <h3>
            Usa la puntina per eliminare il post-it oppure il thumb-up per segnarla come completa!
        </h3>
        <div id="post-it">
            <input type="text" name="testoAggiungi" id="testoAggiungi" placeholder="Cosa abbiamo ancora da fare oggi?" v-model="newTodo.text">
            <button id="bottoneAggiungi" @click="addTodo"  >Aggiungi</button>
        </div>
        <div id="bacheca">
            <div v-for="(element, index) in todos" :key="index" class="post">
                <p :class="(element.done) ? 'fatto' : ''">{{element.text}}</p>
                <i class="fa-solid fa-thumbtack puntina" @click="eliminaPost(index)"></i>
                <i v-if="!element.done"   class="fa-solid fa-thumbs-up spunta" @click="element.done = true"></i>
                <i v-if="element.done"   class="fa-solid fa-thumbs-up spunta-no" @click="element.done = false"></i>
            </div>
            


        </div>
    </main>
</div>

<script src="./assets/js/main.js"></script>
</body>
</html>